<nav class="navbar">
  <form class="form-inline">
    <a class="btn btn-outline-danger" type="button" href="{{ path('app_index') }}">Accueil</a>
    <a class="btn btn-outline-primary" type="button" href="{{ path('wild_index') }}">Wild Series</a>
    <a class="btn btn-outline-primary" type="button" href="{{ path('wild_show', { 'slug': "walking-dead" }) }}">Show slug</a>
    <a class="btn btn-outline-primary" type="button" href="{{ path('wild_show_category', { 'categoryName': "horreur"}) }}">Show Program Category</a>
  </form>
</nav>