// Theme color
$primary: darkblue;
$secondary: red;
// color body 
$body-bg: $primary;
$body-color: $secondary;
.link-color: $secondary;
// Bootstrap and its default variables
@import "~bootstrap/scss/bootstrap";

.base {
    margin:20px;
}