// Theme color
$primary: darkblue;
$secondary: red;
$link-color: white;
// color body 
$body-bg: $primary;
$body-color: $secondary;
$navbar-bg: $primary;

// Bootstrap and its default variables
@import "~bootstrap/scss/bootstrap";

// margin all site
.base {
    margin: 20px;
}

