// Theme color
$primary: darkblue;
$secondary: red;
$link-color: white;
// color body 
$body-bg: $primary;
$body-color: $secondary;

// Bootstrap and its default variables
@import "~bootstrap/scss/bootstrap";
@import '~font-awesome/css/font-awesome.css';

// margin all site
.base {
    margin: 20px;
}

html, body {
    font-family:"Graduate", cursive;
    font-size: 1.1em;
}

@font-face {
    font-family:"Graduate";
    src: url('../fonts/Graduate-Regular.ttf') format('truetype');
}