// Theme color
$primary: darkblue;
$secondary: red;
// color body
$body-margin: 1OO; 
$body-bg: $secondary;
// Bootstrap and its default variables
@import "~bootstrap/scss/bootstrap";

body {
    margin:100px;
}