// Theme color
$primary: darkblue;
$secondary: red;
// color body
$body-margin: 1OO; 
$body-bg: $secondary;
body {
    margin:0px;
}
// Bootstrap and its default variables
@import "~bootstrap/scss/bootstrap";

