// Theme color
$primary: darkblue;
$secondary: red;
// color body 
$body-bg: $secondary;
// Bootstrap and its default variables
@import "~bootstrap/scss/bootstrap";

body {
    color: $primary;
}
.base {
    margin:20px;
}