// Theme color
$primary: magenta;
$secondary: yellowgreen;
// color body
$body-bg: $secondary;
$body { margin-left: 100px; }
// Bootstrap and its default variables
@import "~bootstrap/scss/bootstrap";