{% extends "base.html.twig" %}
{% block title %}Actors{% endblock %}
{% block body %}
    
    <h1>Liste des acteurs</h1>
    {% for actor in actors %}
        <div>
            <a href="{{ path('actor_show', { 'slug' : actor.slug }) }}"><h2>{{ loop.index }} / {{ actor.name }}</h2></a>
        </div>
    {% else %}
        <h3>Aucun acteur trouvé.</h3>
    {% endfor %}
    <div class="d-flex flex-row-reverse">
        <a href="{{ path('app_index') }}">
            Retour à l'accueil
        </a>
    </div>

{% endblock %}
{% block javascripts %}{% endblock %}